.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 2px 3px 4px rgb(123, 154, 182);
    padding: 16px;
    text-align: center;
    background-color: rgb(166, 230, 255);
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}